@import "common.css";

.header .headerWrap nav .gnb li:nth-child(1) {
    color: var(--sub2-300);
}

.afunInfo {
    padding-top: 128px;
}
.afunInfo .imgWrap {
    display: flex;
    align-items: center;

    height: 688px;
    background: url("../images/sub_about/about_info_bg.png") no-repeat left bottom /100% 100%;
}
.afunInfo .imgWrap .textArea {}
.afunInfo .imgWrap .textArea .titWrap {
    text-align: center;
    white-space: pre-wrap;
}

.afunInfo .imgWrap .textArea .titWrap h2 {
    transform: translateY(10px);
    opacity: 0;
}

body.light-mode .afunInfo .imgWrap .textArea .titWrap h2 {
    color: var(--main-100);
}

.afunInfo .imgWrap .textArea .ani.on h2 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}
.afunInfo .imgWrap .textArea .titWrap .subTit {
    transform: translateY(10px);
    opacity: 0;
}
.afunInfo .imgWrap .textArea .ani.on .subTit {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.afunInfo .imgWrap .textArea .titWrap .subTit p{
    color: var(--main-100);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}



/*ourHistory*/
.ourHistory {
    padding: 180px 0 50px;
    position: relative;
    /*background: url(../images/img_history_bg.png)no-repeat center / 100% 100%;*/
    /*height: 556px;*/
    box-sizing: border-box;
    overflow: hidden;
    /*background: dodgerblue;*/
    /*border: 5px solid deeppink;*/
}
.ourHistory .textArea {
    /*padding: 48px 0 0 240px;*/
    vertical-align: center;
}
.ourHistory .textArea .titWrap {}
.ourHistory .textArea .titWrap h2 {}
.ourHistory .textArea .titWrap .subTit {
    margin-top: 16px;
}
.ourHistory .textArea .titWrap .subTit p {}



.ourHistory .historyArea {
    margin-top: 240px;
    /*background: red;*/
}
.ourHistory .historyArea .timeLine {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main-200);
}
.ourHistory .historyArea .hSlider {
    /*width: 1920px;*/
}
.ourHistory .historyArea .hSlider .slick-list {
    overflow: visible;
}
.ourHistory .historyArea .hSlider .textWrap {
    transform: translateY(-8px);
    text-align: center;

    width: 384px;
    cursor: pointer;
    /*border: 1px solid red;*/
    /*background: #92c32a;*/
}
.ourHistory .historyArea .hSlider .textWrap .textDot {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    border-radius: 50%;
    background: var(--main-100);
}

body.light-mode .ourHistory .historyArea .hSlider .textWrap .textDot {

    background: var(--main-800);
}

.ourHistory .historyArea .hSlider .textWrap .years {
    display: block;
    font-size: 22px;
    line-height: 28px;
    margin-top: 24px;
}
.ourHistory .historyArea .hSlider .textWrap .time {
    margin-top: 8px;
}
.ourHistory .historyArea .hSlider .textWrap .time li {
    color: var(--main-200);
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
}

body.light-mode .ourHistory .historyArea .hSlider .textWrap .time li {
    color: var(--main-600);
}

.ourHistory .titWrap :is(h2, .subTit) {
    transform: translateX(-2%);
    opacity: 0;
}
.ourHistory .titWrap.aniTop :is(h2, .subTit) {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
}
.ourHistory .titWrap.aniTop h2 {transition-delay: 0.2s;}
.ourHistory .titWrap.aniTop :is(.subTit) {transition-delay: 0.3s;}

.ourHistory .ani {
    transform: translateX(-5%);
    opacity: 0;
}
.ourHistory .ani.on {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
}


/*ciGuide*/
.ciGuide {
    padding: 200px 0;
}
.ciGuide .contentArea {
    display: flex;
    justify-content: space-between;
}
.ciGuide .contentArea .textArea {
    position: relative;
    margin-top: 16px;
    /*border: 1px solid red;*/

}
.ciGuide .contentArea .textArea .titWrap {

}
.ciGuide .contentArea .textArea .titWrap h2 {
    transform: translateX(-2%);
    opacity: 0;
}
.ciGuide .contentArea .ani.on .titWrap h2 {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
}

.ciGuide .contentArea .textArea .textWrap {
    margin-top: 46px;

    transform: translateX(-2%);
    opacity: 0;
}

.ciGuide .contentArea .ani.on .textWrap {
    margin-top: 46px;

    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.ciGuide .contentArea .textArea .textWrap p {
    margin-top: 1rem;

    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    color: var(--main-200);
}

body.light-mode .ciGuide .contentArea .textArea .textWrap p {
    color: var(--main-600);
}


.ciGuide .contentArea .textArea .btnWrap {
    /*margin-top: 36px;*/
    position: absolute;
    left: 0;
    bottom: 1rem;

    /*border: 2px solid orange;*/
}
.ciGuide .contentArea .textArea .btnWrap .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 384px;
    height: 56px;
    background: url("../images/button/img_button_sub_about_guide.svg") no-repeat center /100%;
    cursor: pointer;

    color: var(--main-100);
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
}

.ciGuide .contentArea .textArea .btnWrap .btn.on {
    background: url("../images/button/img_button_sub_about_guide_click.svg") no-repeat center /100%;
}

body.light-mode .ciGuide .contentArea .textArea .btnWrap .btn.on span {
    color: var(--main-800);
}
body.light-mode .ciGuide .contentArea .textArea .btnWrap .btn.on .arrowIcon {
    background: url("../images/light_mode/ico_sub_about_guide.png") no-repeat center / 100%;
}

.ciGuide .contentArea .textArea .btnWrap .btn.color {}
.ciGuide .contentArea .textArea .btnWrap .btn.mono {margin-top: 16px;}

.ciGuide .contentArea .textArea .btnWrap .btn span {
    margin-left: 24px;
}
.ciGuide .contentArea .textArea .btnWrap .btn .arrowIcon {
    width: 64px;
    height: 32px;
    background: url("../images/dark_mode/ico_sub_about_guide.png") no-repeat center / 100%;
    margin-right: 24px;
}

.ciGuide .contentArea .imgArea {
    width: 800px;
    margin-left: 62px;
}
.ciGuide .contentArea .imgArea .horizontalLogo {
    /*width: 502px;*/
    width: 100%;
    height: 268px;
    background: url("../images/dark_mode/logo_ci_guide_horizontal.png") no-repeat center / 100% 100%;

    border: 2px solid var(--main-400);
    box-sizing: border-box;
}
body.light-mode .ciGuide .contentArea .imgArea .horizontalLogo {
    background: url("../images/light_mode/logo_ci_guide_horizontal.png") no-repeat center / 100% 100%;
    border: 2px solid var(--main-200);
}


.ciGuide .contentArea .imgArea .verticalLogo {
    /*width: 502px;*/
    width: 100%;
    height: 395px;
    background: url("../images/dark_mode/logo_ci_guide_vertical.png") no-repeat center / 100% 100%;
    margin-top: 24px;

    border: 2px solid var(--main-400);
    box-sizing: border-box;
}
body.light-mode .ciGuide .contentArea .imgArea .verticalLogo {

    background: url("../images/light_mode/logo_ci_guide_vertical.png") no-repeat center / 100% 100%;
    border: 2px solid var(--main-200);
}


    /*}*/

.concept {
    padding-bottom: 120px;
}
.concept .textArea {
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}
.concept .textArea .titWrap {
    display: flex;
    align-items: center;
}
.concept .textArea .titWrap h2 {
    transform: translateX(-2%);
    opacity: 0;
}
.concept .ani.on .titWrap h2 {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
}

.concept .textArea .titWrap .textWrap {
    /*background: dodgerblue;*/
    margin-left: 120px;

    transform: translateX(-2%);
    opacity: 0;
}
.concept .ani.on .titWrap .textWrap {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.concept .textArea .titWrap .textWrap strong {
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
}
.concept .textArea .titWrap .textWrap p {
    white-space: pre-wrap;

    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: var(--main-200);
}
.concept .textArea .titWrap .textWrap .keywordList {
    display: flex;
    gap: 32px;
}
.concept .textArea .titWrap .textWrap .keywordList li {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: var(--sub3-100);
}

.concept .imgArea {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}
.concept .imgArea .conceptImg {
    width: 640px;
    height: 400px;
    /*background: dodgerblue;*/
}
.concept .imgArea .conceptImg:nth-child(1) {
    background: url("../images/sub_about/about_concept_img_1.png") no-repeat center / 100%;
}
.concept .imgArea .conceptImg:nth-child(2) {
    background: url("../images/sub_about/about_concept_img_2.png") no-repeat center / 100%;
    margin-left: 16px;
}

