@import "common.css";

.header .headerWrap nav .gnb li:nth-child(2) {
    color: var(--sub2-300);
}

/*businessInfo*/
.businessInfo {
    padding-top: 200px;
    /*background: pink;*/
}

.businessInfo.info-1 {
    padding-top: 200px;

    /*background: mediumpurple;*/
}

.businessInfo .textArea {
    display: flex;
    justify-content: center;
    margin-left: 52px;
    align-items: center;
    /*background: dodgerblue;*/
}
.businessInfo .textArea .titWrap {
}
.businessInfo .textArea .titWrap h2 {
    /*text-align: center;*/
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    color: var(--main-100);
    /*background: rebeccapurple;*/
}

body.light-mode .businessInfo .textArea .titWrap h2 {

    color: var(--main-800);
}

.businessInfo .textArea .textWrap {
    margin-left: 48px;
}
.businessInfo .textArea .textWrap p {}


.businessInfo .imgArea {
    min-width: 1440px;
    margin-top: 56px;

    /*background: dodgerblue;*/
}
.businessInfo .imgArea .imgWrap {
    width: 100%;
    height: 640px;
    /*background: red;*/
}

.businessInfo.info-1 .imgArea .imgWrap {
    background: url("../images/sub_business/img_sub_business_1.png") no-repeat left top / cover;
}

.businessInfo.info-2 .imgArea .imgWrap {
    background: url("../images/sub_business/img_sub_business_2.png") no-repeat left top / cover;
}

.businessInfo.info-3 .imgArea .imgWrap {
    background: url("../images/sub_business/img_sub_business_3.png") no-repeat left top / cover;
}





/*partnersInfo*/
.partnersInfo {
    padding-top: 120px;
}
.partnersInfo .textArea {
    text-align: center;
}
.partnersInfo .textArea .titWrap {}
.partnersInfo .textArea .titWrap h2{}

.partnersInfo .imgArea {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.partnersInfo .imgArea .imgWrap {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.partnersInfo .imgArea .imgWrap .img {
    width: 180px;
    height: 120px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    border: 2px solid var(--main-600);
}
body.light-mode .partnersInfo .imgArea .imgWrap .img {
    background: rgba(0, 0, 0, 0.12);
    border: 2px solid var(--main-200);
}


.partnersInfo .imgArea .imgWrap .img img {
    width: 100%;
    /*border: 1px solid red;*/
}

/*awards*/
.awards {
    padding-top: 120px;
    /*padding: 80px 0 120px;*/
    /*background: dodgerblue;*/
}
.awards .textArea {
    text-align: center;
}
.awards .textArea .titWrap {}
.awards .textArea .titWrap h2 {}

.awards .slideArea {
    position: relative;
    margin-top: 76px;
    /*width: 1440px;*/
    /*margin: 72px 128px 0 128px;*/
    /*background: yellowgreen;*/
}
.awards .slideArea .aSlider {
    width: 1440px;
    display: flex;
    justify-content: center;
}
.awards .slideArea .aSlider .slick-list {
    margin: 0 56px;
}
.awards .slideArea .aSlider .awardsItem {
    /*width: 326px;*/
    width: 240px;
    margin: 0 54px;
    cursor: pointer;
}

.awards .slideArea .aSlider .awardsItem .awardsBg {
    position: relative;
    width: 240px;
    height: 220px;
    background: url("../images/sub_business/img_sub_business_awards_bg.png") no-repeat center / cover;
}
.awards .slideArea .aSlider .awardsItem .awardsBg .awardsTit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-100);
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;

    white-space: nowrap;
}

body.light-mode .awards .slideArea .aSlider .awardsItem .awardsBg .awardsTit {
    color: var(--main-800);

}

.awards .slideArea .aSlider .awardsItem .awardsYears {
    width: 240px;
    margin-top: 24px;

    text-align: center;
    color: var(--main-100);
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    /*background: dodgerblue;*/
}

body.light-mode .awards .slideArea .aSlider .awardsItem .awardsYears {
    color: var(--main-800);
}

.awards .slideArea :is(.prevArrow, .nextArrow) {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    /*background-repeat: no-repeat;*/
    /*background-size: 100% cover;*/
    cursor: pointer;

    vertical-align: center;
    text-align: center;
    font-size: 32px;
    line-height: 32px;

    transform: translateY(-50%);
    /*background: dodgerblue;*/
}
.awards .slideArea .prevArrow {
    left: 0;
    background: url("../images/dark_mode/ico_left_large.png") no-repeat center / 100%;
}

.awards .slideArea .nextArrow {
    right: 0;
    background: url("../images/dark_mode/ico_right_large.png") no-repeat center / 100%;
}

body.light-mode .awards .slideArea .prevArrow {
    background: url("../images/light_mode/ico_left_large.png") no-repeat center / 100%;
}
body.light-mode .awards .slideArea .nextArrow {
    background: url("../images/light_mode/ico_right_large.png") no-repeat center / 100%;
}


.adBanner {
    padding-top: 120px;
    box-sizing: border-box;
    /*background: #62b3c5;*/
}
.adBanner .bannerArea {
    display: flex;
    align-items: center;
    height: 256px;
    background: url("../images/sub_business/img_sub_business_ad_banner_bg.png") no-repeat center / cover;
}
.adBanner .bannerArea .textWrap {
    /*margin-top: 80px;*/
    /*background: dodgerblue;*/
}
.adBanner .bannerArea .bannerTit strong {
    font-size: 36px;
    line-height: 44px;
    font-weight: 900;
    text-align: center;
}

body.light-mode .adBanner .bannerArea .bannerTit strong {
    color: var(--main-100);
}

.adBanner .bannerArea .adBtn {
    width: 131px;
    height: 40px;
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: var(--main-100);
    background: transparent;
}



/*text scroll ani*/
/*business*/
.businessInfo .textArea :is(.titWrap, .textWrap) {
    transform: translateX(-10px);
    opacity: 0;
}

.businessInfo .ani.on .titWrap,
.businessInfo .ani.on .textWrap {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
}
.businessInfo .ani.on .textWrap {
    transition-delay: 0.2s;
}

/*partnersInfo*/
.partnersInfo .textArea .titWrap {
    transform: translateY(10px);
    opacity: 0;
}
.partnersInfo .ani.on .titWrap {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

/*awards*/
.awards .textArea .titWrap {
    transform: translateY(10px);
    opacity: 0;
}
.awards .ani.on .titWrap {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

/*adBanner*/
.adBanner a {
    text-decoration: none;
    color: inherit;
}
.adBanner a .bannerArea .bannerTit {
    transform: translateX(-10px);
    opacity: 0;
}
.adBanner a .ani.on .bannerTit {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
}
.adBanner a .bannerArea .adBtn {
    transform: translateX(-10px);
    opacity: 0;
}
.adBanner a .ani.on .adBtn {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
}