/* Xeicon */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*color settings*/
:root {
    --main-100: #fff;
    --main-200: #bdbdbd;
    --main-300: #757575;
    --main-400: #4e4e4e;
    --main-600: #373737;
    --main-700: #222;
    --main-800: #000;

    --sub1-100: #d0caf5;

    --sub2-300: #f78efb;
    --sub2-600: #a82ad4;
    --sub2-700: #6204bf;

    --sub3-100: #d6f3fa;
    --sub3-300: #8ed2e1;
    --sub3-400: #62b3c5;
    --sub3-500: #2c99b1;
    --sub3-600: #08748c;
    --sub3-700: #195974;
    --sub3-800: #0a445b;
}
::selection {
    background: var(--sub2-600);
    color: var(--main-100);
}



body {
    font-family:"Roboto semibold", sans-serif;
    background: var(--main-800);
    /*width: 1920px;*/
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--main-100);
    word-break: keep-all;
}
body.light-mode {
    background: var(--main-100);
    color: var(--main-800);
}
/*!*scrollBar*!*/
/*body::-webkit-scrollbar {*/
/*    width: 16px;*/
/*    height: 100%;*/
/*    background: transparent;*/
/*}*/
/*body::-webkit-scrollbar-thumb {*/
/*    background: var(--sub2-700); !* 스크롤바 막대 색상 *!*/
/*}*/

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

select {
    border-radius: 0;
}

select:focus {outline: none;}

button {
    border: none;
    font-family: "Roboto semibold", sans-serif;
    font-weight: 900;
}
a {
    text-decoration: none;
    color: inherit;
}

/* input outline setting */
input {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;

    height: 32px;
    width: 160px;

    background: transparent;
    box-sizing: border-box;
    border: 2px solid var(--main-100);
    color: var(--main-100);
    padding: 4px;
}
body.light-mode input {
    border: 2px solid var(--main-800);
    color: var(--main-800);
}
input:focus {outline: none;}

textarea {
    background: transparent;
    border: 2px solid var(--main-100);
    color: var(--main-100);
}
body.light-mode textarea {
    border: 2px solid var(--main-800);
    color: var(--main-800);
}
textarea:focus {outline: none;}

select {
    background: var(--main-800);
    border: 2px solid var(--main-100);
    border-radius: 0;
    color: var(--main-100);
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}
body.light-mode select {
    background: var(--main-100);
    border: 2px solid var(--main-800);
    color: var(--main-800);
}
select option {
    padding: 0;
    margin: 4px 8px 0;
}

/*header*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /*height: 80px;*/

    box-sizing: border-box;
    /*padding: 0 70px;*/
    /*background: dodgerblue;*/
    /*background: black;*/
    z-index: 1000;

    transition: 0.5s;
    background: transparent;

    /*display: none;*/
}
body.light-mode .header {
    color: var(--main-800);
}

.header.on {
    background: var(--main-800);
    /*border-bottom: 2px solid #a82ad4;*/
    z-index: 1000;
}
body.light-mode .header.on {
    background: var(--main-100);
    color: var(--main-800);
}

.header .headerWrap {
    position: relative;
    height: 80px;
    text-align: center;
    margin: 0 70px;
}
.header .headerWrap .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /*width: 160px;*/
    /*border: 2px solid red;*/
    /*box-sizing: border-box;*/
}
.header .headerWrap .logo a {
    display: block;
    width: 160px;
    height: 61px;

    background: url("../images/dark_mode/logo.png")no-repeat center /100%;
}
body.light-mode .header .headerWrap .logo a {
    background: url("../images/light_mode/logo.png")no-repeat center /100%;
}

/*body.light-mode .header.on .headerWrap .logo a {*/
/*    background: url("../images/light_mode/logo.png")no-repeat center /100%;*/
/*}*/

.header .headerWrap nav {
    display: inline-block;
    text-align: left;
    font-size: 0;
}
.header .headerWrap nav .gnb {
    /*border: 2px solid red;*/
    /*box-sizing: border-box;*/

    font-size: 0;
}
.header .headerWrap nav .gnb > li {
    display: inline-block;
    text-align: center;
    /*padding: 10px 20px;*/
    /*background: dodgerblue;*/
}
.header .headerWrap nav .gnb > li~li {
    /*margin-left: 80px;*/
}
.header .headerWrap nav .gnb li:nth-child(5) {
    position: relative;
}

.header .headerWrap nav .gnb li > a {
    display: block;
    height: 80px;
    /*height: 56px;*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    box-sizing: border-box;
    padding-top: 28px;

    /*text-decoration: none;*/
    /*color: inherit;*/
}

.header .headerWrap nav .gnb li > a:hover {
    /*border-bottom: 1px solid #fff;*/
    /*background: dodgerblue;*/
    color: var(--sub2-300);
}

.header .headerWrap nav .gnb > li:nth-child(1) > a {
    /*width: 84px;*/
    width: 164px;
}
.header .headerWrap nav .gnb > li:nth-child(2) > a {
    /*width: 106px;*/
    width: 186px;
}
.header .headerWrap nav .gnb > li:nth-child(3) > a {
    /*width: 86px;*/
    width: 166px;
}
.header .headerWrap nav .gnb > li:nth-child(4) > a {
    /*width: 80px;*/
    width: 160px;
}
.header .headerWrap nav .gnb > li:nth-child(5) .depth1 {
    /*width: 97px;*/
    width: 177px;
}
.header .headerWrap nav .gnb > li:nth-child(5) .depth2 {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
}
body.light-mode .header .headerWrap nav .gnb > li:nth-child(5) .depth2 {
    background: rgba(255, 255, 255, 0.5);
    color: var(--main-800);
}

.header .headerWrap nav .gnb > li:nth-child(5):hover .depth2 {
    display: block;
}

.header .headerWrap nav .gnb > li:nth-child(5) .depth2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .headerWrap nav .gnb > li:nth-child(5) .depth2 li a {
    font-size: 14px;
    line-height: 56px;
    font-weight: 700;
    height: 56px;
    padding: 0;
}


.header .headerWrap .headerIcons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    /*border: 2px solid red;*/
    gap: 16px;
}
.header .headerWrap .headerIcons li {
    width: 32px;
    height: 32px;
}
.header .headerWrap .headerIcons li img {
    display: block;
    width: 100%;
    object-fit: cover;
}
/*Follow Cursor*/
.followCursor{
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    transition: 80ms;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
}

/*sub page 공통*/
.breadCrumbs {
    position: fixed;
    left: 0;
    top: 80px;
    border-top: 2px solid #757575;
    box-sizing: border-box;
    background: transparent;

    transition: 0.5s;
    /*height: 48px;*/
    /*background: green;*/
}
.breadCrumbs.on {
     background: var(--main-800);
     z-index: 1000;
}
body.light-mode .breadCrumbs.on {
    background: var(--main-100);
}
.breadCrumbs .location {
    font-size: 0;
    margin-left: 70px;

    /*background: dodgerblue;*/
}

.breadCrumbs .location .loca {
    font-size: 12px;
    line-height: 48px;
    /*line-height: 16px;*/

    /*box-sizing: border-box;*/
    /*border: 2px solid red;*/
}

.breadCrumbs .location .loca-1:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("../images/dark_mode/ico_right.png") no-repeat center/ 100% 100%;
    margin: -2px 2px 0;

    /*border: 1px solid red;*/
    /*box-sizing: border-box;*/
}
body.light-mode .breadCrumbs .location .loca-1:after {
    background: url("../images/light_mode/ico_right.png") no-repeat center/ 100% 100%;
}


/*section 공통 적용 */
section {
    /*width: 100%;*/
    width: 100vw;
    /*min-width: 1440px;*/
}
section .inner {
    /*width: 1440px;*/
    width: 75vw;
    margin: 0 auto;
}

/*section title setting*/
section .titWrap {}
section .titWrap h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    color: var(--main-100);
}
body.light-mode section .titWrap h2 {
    color: var(--main-800);
}

section .subTit {}
section .subTit p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    color: var(--main-200);
}
body.light-mode section .subTit p {
    color: var(--main-600);
}

/*fixed quickBtnArea*/
.quickBtnArea {
    display: none;
    position: fixed;
    right: 16px;
    bottom: 16px;
    /*border: 2px solid red;*/
    z-index: 99999;
}
.quickBtnArea .chatDiv {cursor: pointer;}

.quickBtnArea .chatDiv .quickMsg {
    position: absolute;
    right: 20px;
    bottom: 92px;
    background: url("../images/button/img_chat.png") no-repeat center/cover;

    z-index: 999;
}

.quickBtnArea .chatDiv .quickMsg,
.quickBtnArea .quickTop {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
}

.quickBtnArea .chatDiv .quickBtnTextWrap {
    opacity: 0;

    padding-top: 12px;
    padding-left: 20px;
    background: rgba(200, 200, 200, 0.4);
    border-radius: 8px;
    width: 0;
    height: 52px;
    margin-bottom: 80px;
    align-items: center;
}

.quickBtnArea .chatDiv .quickBtnTextWrap p {
    opacity: 0;

    margin-left: 50px;
    color: var(--main-100);
}
.quickBtnArea .chatDiv .quickBtnTextWrap p:nth-child(1) {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
}


.quickBtnArea .chatDiv .quickBtnTextWrap p:nth-child(2) {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    /*border: 1px solid red;*/
    /*box-sizing: border-box;*/
}
.quickBtnArea .chatDiv .quickBtnTextWrap p span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/button/ico_chat_clock.png") no-repeat center / cover;
    /*background: dodgerblue;*/
}
.quickBtnArea .quickTop {
    position: absolute;
    right: 20px;
    bottom: 20px;

    margin-top: 18px;
    background: url("../images/button/img_button_Arrow_top.png")no-repeat center/cover;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

/*footer*/
.footer {
    width: 100%;
    /*height: 270px;*/
    padding: 67px 0 70px;
    box-sizing: border-box;
    /*background: dodgerblue;*/

    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    /*display: none;*/
}

.footer .footerWrap {
    margin: 0 70px;
}

.footer .footerWrap .topArea {
    display: flex;
    justify-content: space-between;
    /*border: 2px solid green;*/
    align-items: center;
}
.footer .footerWrap .topArea .logo {}
.footer .footerWrap .topArea .logo a {
    display: block;
    width: 160px;
    height: 61px;
    background: url("../images/dark_mode/logo.png")no-repeat center /100%;
}
body.light-mode .footer .footerWrap .topArea .logo a {
    background: url("../images/light_mode/logo.png")no-repeat center /100%;

}


.footer .footerWrap .topArea .companyInfo {}
.footer .footerWrap .topArea .companyInfo p {
    text-align: right;
}

.footer .footerWrap .divider {
    width: 100%;
    height: 2px;
    margin-top: 16px;
    background: var(--main-300);
    /*background: brown;*/
}
.footer .footerWrap .bottomArea {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.footer .footerWrap .bottomArea .copyRight {
    width: 324px;
    /*border: 2px solid red;*/
}
.footer .footerWrap .bottomArea .snsLink {
    display: flex;
    gap: 16px;
    color: var(--main-300);
}
.footer .footerWrap .bottomArea .snsLink .imgWrap {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    /*background: blueviolet;*/
}
.footer .footerWrap .bottomArea .snsLink .imgWrap img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.footer .footerWrap .bottomArea .emailRefuse {
    width: 324px;
    text-align: right;
    /*border: 2px solid red;*/
}
.footer .footerWrap .bottomArea .emailRefuse span {}


/*반응형*/
@media (max-width: 1440px) {
    .header .headerWrap,
    .footer .footerWrap {
        margin: 0 20px;
    }

    .header .headerWrap .logo a {
        width: 120px;
    }
    .header .headerWrap nav .gnb li:nth-child(1) > a {
        width: 104px;
    }
    .header .headerWrap nav .gnb li:nth-child(2) > a {
        width: 126px;
    }
    .header .headerWrap nav .gnb li:nth-child(3) > a {
        width: 106px;
    }
    .header .headerWrap nav .gnb li:nth-child(4) > a {
        width: 100px;
    }
    .header .headerWrap nav .gnb li:nth-child(5) > a {
        width: 117px;
    }


    section .inner {
    }

}
@media (max-width: 1024px) {

    .followCursor{
        display: none;
    }

    section {
        /*1024 - 70*/
        /*min-width: 784px;*/
    }

    section .inner {
        /*width: 784px;*/
    }

    /*section title setting*/
    section .titWrap {}
    section .titWrap h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 900;
        color: var(--main-100);
    }

    section .subTit p {
        font-size: 12px;
    }

    /*.header .headerWrap .logo a {*/
    /*    width: 120px;*/
    /*}*/
    /*.header .headerWrap {*/
    /*    margin: 0 20px;*/
    /*}*/

    /*.header .headerWrap nav .gnb li:nth-child(1) > a {*/
    /*    width: 84px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(2) > a {*/
    /*    width: 106px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(3) > a {*/
    /*    width: 86px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(4) > a {*/
    /*    width: 80px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(5) > a {*/
    /*    width: 97px;*/
    /*}*/
}

@media (max-width: 768px) {
    .header .headerWrap {
        margin: 0 20px;
    }

    .header .headerWrap .logo a {
        width: 100px;
    }

    .header .headerWrap nav {
        display: none;
    }
    .header .headerWrap nav .gnb {
        display: none;

    /*.header .headerWrap nav .gnb li:nth-child(1) > a {*/
    /*    width: 84px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(2) > a {*/
    /*    width: 106px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(3) > a {*/
    /*    width: 86px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(4) > a {*/
    /*    width: 80px;*/
    /*}*/
    /*.header .headerWrap nav .gnb li:nth-child(5) > a {*/
    /*    width: 97px;*/
    /*}*/

    .footer {
        padding: 40px 0;
    }

    section {
        /*768 - 40*/
        /*min-width: 728px;*/
    }

    section .inner {
        /*width: 728px;*/
        margin: 0 auto;
    }

    .footer .footerWrap {
        margin: 0 20px;
    }
    .footer .footerWrap .topArea .logo a {
        width: 100px;
    }
    .footer .footerWrap .bottomArea .snsLink .imgWrap {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 480px) {}