@import "common.css";

.header .headerWrap nav .gnb > li:nth-child(5) .depth1 {
    color: var(--sub2-300);
}



.breadCrumbs .location .loca-2:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("../images/dark_mode/ico_right.png") no-repeat center/ 100% 100%;
    margin: -2px 2px 0;

    /*border: 1px solid red;*/
    /*box-sizing: border-box;*/
}
body.light-mode .breadCrumbs .location .loca-2:after {
    background: url("../images/light_mode/ico_right.png") no-repeat center/ 100% 100%;
}

.contactUs {
    padding: 128px 0 36px;
    border-bottom: 2px solid var(--main-100);
    /*background: dodgerblue;*/
}

.contactUs .titWrap {
    margin-top: 52px;
    /*background: blueviolet;*/
}
.contactUs .titWrap h2 {}
.contactUs .locationArea {
    margin-top: 44px;
}
/*.contactUs .locationArea .map {*/
/*    width: 100%;*/
/*    height: 800px;*/
/*    background: red;*/
/*}*/

.contactUs .locationArea .map iframe {
    width: 100%;
    height: 56vh;
}

.contactUs .textArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}
.contactUs .textArea .adressWrap {
    width: 30vw;
}

.contactUs .textArea .subTit {
    font-size: 22px;
    line-height: 30px;
    font-weight: 900;
}
.contactUs .textArea .adressWrap p {
    white-space: pre-wrap;
}

.contactUs .textArea .numberWrap {
    text-align: right;
}



@media (max-width: 1024px){
    /*.map iframe{*/
    /*    width: 300px;*/
    /*    height:300px;*/
    /*}*/
}
