@import "common.css";
/*header*/
.header .headerWrap nav .gnb > li:nth-child(5) .depth1 {
    color: var(--sub2-300);
}
/*breadCrumbs*/
.breadCrumbs .location .loca-2:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("../images/dark_mode/ico_right.png") no-repeat center/ 100% 100%;
    margin: -2px 2px 0;
}
body.light-mode .breadCrumbs .location .loca-2:after {
    background: url("../images/light_mode/ico_right.png") no-repeat center/ 100% 100%;
}

/*scrollBar*/
.inq .agreeArea .agree ::-webkit-scrollbar,
.inq .inqInputArea .formWrap .inputText .inqTextWrap ::-webkit-scrollbar {
    width: 16px;
    height: 100%;
}
.inq .agreeArea .agree ::-webkit-scrollbar-thumb,
.inq .inqInputArea .formWrap .inputText .inqTextWrap ::-webkit-scrollbar-thumb {
    background: var(--sub2-700); /* 스크롤바 막대 색상 */
}

.inq .agreeArea .agree ::-webkit-scrollbar-corner,
.inq .inqInputArea .formWrap .inputText .inqTextWrap ::-webkit-scrollbar-corner
{
    /*background: transparent;*/
    /*border: none;*/
    /*display: none;*/
}

/*contactUs*/
.contactUs {padding: 128px 0 36px;}

.contactUs .titWrap {margin-top: 52px;}
.contactUs .titWrap h2 {}
.contactUs .locationArea {margin-top: 44px;}

/*.contactUs .locationArea .map {*/
/*    width: 100%;*/
/*    height: 800px;*/
/*    background: red;*/
/*}*/

.contactUs .locationArea .map iframe {
    width: 100%;
    height: 56vh;
}

.contactUs .textArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}
.contactUs .textArea .adressWrap {width: 50vw;}

.contactUs .textArea .subTit {
    font-size: 22px;
    line-height: 30px;
    font-weight: 900;
}
.contactUs .textArea .adressWrap p {
    white-space: pre-wrap;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
}

.contactUs .textArea .numberWrap {
    text-align: right;
}
.contactUs .textArea .numberWrap h3 {}
.contactUs .textArea .numberWrap span {
    font-size: 14px;
    line-height: 20px;
}
.contactUs .textArea .numberWrap .numberWrapTel {
    display: block;
    margin-top: 18px;
}

/*inq*/
.inq {
    padding-bottom: 32px;
}
.inq .agreeArea {border-top: 2px solid var(--main-100);}
.inq .agreeArea .titWrap {margin-top: 70px;}
.inq .agreeArea .titWrap h2 {}

.inq .agreeArea .allCheck {
    margin-top: 80px;
    text-align: center;
    line-height: 64px;
}
.inq .agreeArea .allCheck label {
    font-weight: 900;

    width: 100%;
    display: inline-block;
    background: var(--sub3-800);
    margin: 0 auto;
}
.inq .agreeArea .allCheck label input {
    width: auto;
    height: auto;
}

.inq .agreeArea .agree {
    width: 100%;
    margin: 40px auto 0;
}
.inq .agreeArea .agree-1 {
    margin-top: 40px;
}

.inq .agreeArea .agree h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 8px;
}
.inq .agreeArea .agree .desc {
    margin-top: 16px;
    /*height: 264px;*/
    height: 32vh;
    overflow: auto;
    border: 1px solid var(--main-100);
}
.inq .agreeArea .agree .desc p {
    font-size: 12px;
    line-height: 22px;
    white-space: pre-wrap;
    margin: 24px;
}
.inq .agreeArea .agree .checkWrap {
    margin-top: 16px;
    text-align: right;
}
.inq .agreeArea .agree .checkWrap label {
    font-size: 14px;
    line-height: 22px;
}
.inq .agreeArea .agree .checkWrap input {
    width: 14px;
    height: 14px;
    margin-bottom: 6px;
    vertical-align: middle;
}
.inq .inqInputArea {
    padding-top: 70px;
}
.inq .inqInputArea form {}
.inq .inqInputArea form fieldset {}
.inq .inqInputArea form fieldset .formWrap {}

.inq .inqInputArea .formWrap .cate {}

/*form label setting*/
.inq .inqInputArea .formWrap .cate strong,
.inq .inqInputArea .formWrap label{
    display: inline-block;
    width: 80px;
    /*border: 2px solid dodgerblue;*/
}

.inq .inqInputArea .formWrap select {
    width: 160px;
    height: 32px;
}
.inq .inqInputArea .formWrap label
.inq .inqInputArea .formWrap .cate #cateOption {}
.inq .inqInputArea .formWrap .cate #cateOption option {}

.inq .inqInputArea .formWrap :is(.name, .tel, .email, .inputText, .inqInfo, .submit) {
    margin-top: 16px;
}
.inq .inqInputArea .formWrap .name {}
.inq .inqInputArea .formWrap .name label {}
.inq .inqInputArea .formWrap .name input {}

.inq .inqInputArea .formWrap .tel {}
.inq .inqInputArea .formWrap .tel label {}
.inq .inqInputArea .formWrap .tel input {}

.inq .inqInputArea .formWrap .email {}
.inq .inqInputArea .formWrap .email label {}
.inq .inqInputArea .formWrap .email input {}
.inq .inqInputArea .formWrap .email span {}
.inq .inqInputArea .formWrap .email #emailOption {}
.inq .inqInputArea .formWrap .email #emailOption option {}

.inq .inqInputArea .formWrap .inputText {
    display: flex;
    margin-top: 16px;
}
.inq .inqInputArea .formWrap .inputText label {}
.inq .inqInputArea .formWrap .inputText .inqTextWrap {
    /*height: 20vw;*/
    overflow: auto;
}
.inq .inqInputArea .formWrap .inputText .inqTextWrap p {}
.inq .inqInputArea .formWrap .inputText .inqTextWrap p textarea {
    /*width: 75vw;*/
    width: 71vw;
    height: 20vw;
    padding: 16px;
    box-sizing: border-box;
    resize: none;
    color: var(--main-100);
}

body.light-mode .inq .inqInputArea .formWrap .inputText .inqTextWrap p textarea {
    color: var(--main-800);
}

.inq .inqInputArea .formWrap .inqInfo {
    margin-left: 88px;
}
.inq .inqInputArea .formWrap .inqInfo span {}
.inq .inqInputArea .formWrap .submit {
    text-align: right;
}
.inq .inqInputArea .formWrap .submit input {
    width: 160px;
    height: 44px;
    border: none;
    background: url("../images/button/img_button_submit.svg") no-repeat center ;

    color: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
}

@media (max-width: 1024px){
    .contactUs .locationArea .map iframe {
        /*width: 300px;*/
        height: 28vh;
    }
}

@media (max-width: 580px) {
    .inq .inqInputArea .formWrap :is(.name, .tel, .email, .inputText, .inqInfo, .submit) {
        margin-top: 32px;
    }
    .inq .inqInputArea .formWrap .inputText {
        flex-direction: column;
    }

    .inq .inqInputArea .formWrap .inputText .inqTextWrap p textarea {
        width: 75vw;
        /*margin-top: 32px;*/
    }
    .inq .inqInputArea .formWrap .inqInfo {
        margin-left: 0;
    }
}