@import "common.css";

.header .headerWrap nav .gnb li:nth-child(3) {
    color: var(--sub2-300);
}

.worksInfo {
    padding-top: 128px;
}
.worksInfo .imgWrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 846px;
    background: url("../images/sub_works/img_sub_works_info_bg.png") no-repeat center /cover;
}
.worksInfo .imgWrap .textArea {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

body.light-mode .worksInfo .imgWrap .textArea  {
    color: var(--main-100);
}

.worksInfo .imgWrap .textArea .subTit {
    margin-top: 32px;
    transform: translateY(10px);
    /*opacity: 0;*/
    opacity: 1;
}
.worksInfo .imgWrap .textArea .ani.on .subTit {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.worksInfo .imgWrap .textArea .subTit p{
    color: var(--main-100);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.works {}
.works .alignArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: dodgerblue;
}
.works .alignArea .cate {
    border: 2px solid red;
}
.works .alignArea .cate #worksCate {}

.works .alignArea .align {}
.works .alignArea .align a {}
.works .alignArea .align a span {}
.works .alignArea .align a span::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0 2px 8px;
    vertical-align: middle;
    background: greenyellow;
}
.works .worksArea {
    background: rebeccapurple;
}

.works .worksArea .worksWrap {
    display: flex;
    flex-wrap: wrap;
}
.works .worksArea .worksWrap .worksItem {}
.works .worksArea .worksWrap .worksItem:nth-child(even) {
    margin-left: 56px;
}
.works .worksArea .worksWrap .worksItem a {}
.works .worksArea .worksWrap .worksItem a .imgWrap {
    width: 692px;
    height: 390px;
    /*background: yellow;*/
    background: url("../images/sub_works/img_sub_works_list_img_1.png") no-repeat center / cover;
}

.works .worksArea .worksWrap .worksItem a .textWrap {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
.works .worksArea .worksWrap .worksItem a .textWrap strong {
    /*display: -webkit-box;*/
    /*width: 480px;*/
    /*-webkit-line-clamp: 1;*/
    /*-webkit-box-orient: vertical;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/


    width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: normal;

    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
}
.works .worksArea .worksWrap .worksItem a .textWrap span {
    font-size: 12px;
    line-height: 20px;
    color: var(--sub3-100);
}

.works .pageArea {
    background: green;
}