@import "common.css";

.header .headerWrap nav .gnb > li:nth-child(3) {
    color: var(--sub2-300);
}

/*worksInfo*/
.worksInfo {
    padding-top: 128px;
}
.worksInfo .imgWrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 846px;
    background: url("../images/sub_works/img_sub_works_info_bg.png") no-repeat center /cover;
}
.worksInfo .imgWrap .textArea {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

body.light-mode .worksInfo .imgWrap .textArea  {
    color: var(--main-100);
}

.worksInfo .imgWrap .textArea .subTit {
    margin-top: 32px;
    transform: translateY(10px);
    /*opacity: 0;*/
    opacity: 1;
}
.worksInfo .imgWrap .textArea .ani.on .subTit {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.worksInfo .imgWrap .textArea .subTit p{
    color: var(--main-100);
    font-weight: 600;
    font-size: 36px;
    line-height: 72px;
}

/*works*/
.works {}
.works .alignArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    /*background: dodgerblue;*/
}
.works .alignArea .cate {
    /*border: 2px solid red;*/
}
.works .alignArea .cate #worksCate {
    width: 180px;
    height: 32px;
}


.works .alignArea .align {}
.works .alignArea .align a {
    vertical-align: middle;
}
.works .alignArea .align a span {}
.works .alignArea .align a span::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: middle;
    /*background: greenyellow;*/
    background: url("../images/dark_mode/ico_arrow_down.png") no-repeat center / cover;
}
body.light-mode .works .alignArea .align a span::after {
    background: url("../images/light_mode/ico_arrow_down.png") no-repeat center / cover;
}

.works .worksArea {
    margin-top: 48px;
}

.works .worksArea .worksWrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.works .worksArea .worksWrap .worksItem {
    /*width: 692px;*/
    width: 49%;
    margin-top: 48px;
}
.works .worksArea .worksWrap .worksItem:nth-child(1),
.works .worksArea .worksWrap .worksItem:nth-child(2) {
    margin-top: 0;
}
.works .worksArea .worksWrap .worksItem:nth-child(even) {
    /*margin-left: 56px;*/
    margin-left: 2%;
}

.works .worksArea .worksWrap .worksItem a {}
.works .worksArea .worksWrap .worksItem a .imgWrap {
    height: 390px;
}
.works .worksArea .worksWrap .worksItem {
}
.works .worksArea .worksWrap .worksItem a .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works .worksArea .worksWrap .worksItem a .textWrap {
    display: flex;
    justify-content: space-between;
    margin: 16px 8px 0;
}
.works .worksArea .worksWrap .worksItem a .textWrap strong {
    /*width: 480px;*/
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;

    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
}
.works .worksArea .worksWrap .worksItem a .textWrap span {
    /*width: 20%;*/
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--sub3-100);
    text-align: right;
}

body.light-mode .works .worksArea .worksWrap .worksItem a .textWrap span {
    color: var(--sub3-500);
}

.works .pageArea {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: 2px solid var(--main-100);
    margin-top: 48px;
}

.works .pageArea :is(.prevArrow, .nextArrow) {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    /*background: dodgerblue;*/
    margin-top: 20px;
    background: url("../images/dark_mode/ico_right.png") no-repeat center/ 100% 100%;
}
.works .pageArea .prevArrow {
    display: none;
    transform: rotate(-180deg);
}
.works .pageArea .prevArrow.on {
    display: block;
}

.works .pageArea .nextArrow {
    margin-left: 16px;
}

.works .pageArea .page {
    display: flex;
}
.works .pageArea .page li {
    width: 32px;
    height: 32px;
    margin: 16px 0 0 16px;
}

.works .pageArea .page li a {
    font-weight: 900;
    line-height: 32px;
}

/*siteMap*/
.siteMap {
    margin-top: 120px;
}
.siteMap .siteLinkWrap {
    display: flex;
    width: 100%;
    height: 100%;
    /*background: url("../images/sub_works/img_site_map_bg.png")no-repeat center / cover;*/
}

.siteMap .siteLink-1 {
    background: url("../images/sub_works/img_sub_works_sns_link_bg_1.png") no-repeat center / 100%;
}

.siteMap .siteLink-2 {
    background: url("../images/sub_works/img_sub_works_sns_link_bg_2.png") no-repeat center/ 100%;
}
.siteMap .siteLink-3 {
    background: url("../images/sub_works/img_sub_works_sns_link_bg_3.png") no-repeat center/ 100%;
}
.siteMap .siteLinkWrap .site {
    position: relative;
    /*width: 640px;*/
    width: 33.33%;
    /*height: 360px;*/
    height: 18.8vw;
    cursor: pointer;

    transition: 0.5s;
}

.siteMap .siteLinkWrap .site:hover {
    background-size: 120%;
}

.siteMap .siteLinkWrap .site .snsIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;

    opacity: 0.5;
    transition: 0.5s;
}
.siteMap .siteLinkWrap .site:hover .snsIcon {
    opacity: 1;
}
.siteMap .siteLinkWrap .siteLink-1 .snsIcon {
    background: url("../images/sub_works/ico-facebook.png") no-repeat center / cover;
}
.siteMap .siteLinkWrap .siteLink-2 .snsIcon {
    background: url("../images/sub_works/ico-youtube.png") no-repeat center / cover;
}
.siteMap .siteLinkWrap .siteLink-3 .snsIcon {
    background: url("../images/sub_works/ico-vimeo.png") no-repeat center / cover;
}

@media (max-width: 1440px) {
    .works .worksArea .worksWrap .worksItem {
        /*width: 484px;*/
    }
    .works .worksArea .worksWrap .worksItem a .imgWrap {
        height: 272px;
    }
}

@media (max-width: 1024px) {
    .works .worksArea .worksWrap {
        flex-direction: column;
    }
    .works .worksArea .worksWrap .worksItem {
        width: 100%;
    }

    .works .worksArea .worksWrap .worksItem:nth-child(2) {
        margin-top: 40px;
    }
    .works .worksArea .worksWrap .worksItem:nth-child(even) {
        margin-left: 0;
    }
}